<script src="https://kit.fontawesome.com/ac2d4e88af.js" crossorigin="anonymous"></script>
<div class="d-flex justify-content-between align-items-center opacity-25 mt-2 mb-4">

    <a href="#">
        <img src="./static/icons/bebidas.png">
    </a>
    <a href="#">
        <img src="./static/icons/brownie.png">
    </a>
    <a href="#">
        <img src="./static/icons/chopp.png">
    </a>
    <a href="#">
        <img src="./static/icons/chopper.png">
    </a>
    <a href="#">
        <img src="./static/icons/coffe.png">
    </a>
    <a href="#">
        <img src="./static/icons/drink.png">
    </a>
    <a href="#">
        <img src="./static/icons/fast-food.png">
    </a>
    <a href="#">
        <img src="./static/icons/maca.png">
    </a>
    <a href="#">
        <img src="./static/icons/paes.png">
    </a>
    <a href="#">
        <img src="./static/icons/panela.png">
    </a>
    <a href="#">
        <img src="./static/icons/pera.png">
    </a>
    <a href="#">
        <img src="./static/icons/pizza.png">
    </a>
    <a href="#">
        <img src="./static/icons/queijo.png">
    </a>
    <a href="#">
        <img src="./static/icons/salgado.png">
    </a>
    <a href="#">
        <img src="./static/icons/sino.png">
    </a>
</div>
