.btn-group{
    padding:5px;
    background:#F5F5F5;
     border-radius:20px;
}
.bg-title{
    background:#fff;
}
.btn-support,.btn-support:hover{
 background:#F5F5F5;
 font-size:.8rem;
 font-weight:600;
  border-radius:20px;
  color:#000;
}
.btn-table{
    font-size:.8rem;
    font-weight:600
}
.detail-title{
    font-size:.8rem;
    font-weight:600
}
.detail-valor{
font-size:.8rem;
    font-weight:500
}
.detail-subtitle{
font-size:.7rem;
    font-weight:400
}
.btn-check:checked+.btn, .btn-table.active, .btn-table.show, .btn-table:first-child:active, :not(.btn-check)+.btn-table:active {
    color: var(--bs-btn-active-color);
    background-color: #fff;
    border-color: #fff;
    border-radius:20px;
       font-weight:700;
}

.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.ez-table-icon{
font-size:1.6rem;}

.item-table{
    height:150px;
    padding:15px;
    border:2px solid #f5f5f5;
}
.numero_pedido{
    font-size: .6rem;
    opacity:.4;
    font-weight: 500;
}
tbody, td, tfoot, th, thead, tr {
    border: none;
}
.detalhes-pedido{
    padding:20px;
    border:2px solid #f5f5f5;
    margin-left:15px;
    min-height:100px;
}
.VALUE{
    min-width:90px;
    text-align:right
}

#myChart {
      height: 100px;
    }