@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}
.apx1{
 font-family: var(--poppins);
 }
.apx1 .modal-title{
    color:var(--blue);
    width:100%;
    text-align:center;
    font-family: var(--poppins);
}

.btn-primary{
    background:var(--blue);
     text-align:center;
    font-family: var(--poppins);
}
.modal-backdrop {
    background-color: var(--blue);
}

/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 9;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	padding-top: 20px;
	box-sizing: content-box;
}
#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/* SIDEBAR */





/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}




/* NAVBAR */
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--blue);
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content nav .notification {
	font-size: 20px;
	position: relative;
}
#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}

.preview img {
	width: 42px;
	height: 42px;
	object-fit: cover;
	border-radius: 4px;
}
.preview_edit img {
	width: 100%;
    height:200px;
	object-fit: cover;
	border-radius: 4px;
}



#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */



.breadcrumb{
    --bs-breadcrumb-margin-bottom: 0rem;
}

/* MAIN */
#content main {
	width: 100%;
	padding: 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#content  .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content  .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
#content  .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 0px;
}
#content  .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content  .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content  .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
#content  .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}

 ul {
    padding-left: 0rem;
}


#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	grid-gap: 16px;
	margin-top: 0px;
}
#content main .box-info li {
	padding: 8px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	justify-content:center;
	align-items: center;
	grid-gap: 16px;


}
#content main .box-info li .bx {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	font-size: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
}
#content main .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}
#content main .box-info li:nth-child(4) .bx {
	color: green;
}
#content main .box-info li  h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content main .box-info li .text p {
	color: var(--dark);
	font-size: .9rem;
}





#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
height:100%;
}
#content main .table-data .order .setup i{
	font-size:2rem;

}

#content main .table-data .order .setup, #content main .table-data .order .setup .nav{
	height:100%;
}
#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
	padding: 16px 0;
}
#content main .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#content main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}
#content main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
#content main .table-data .order table tr td .status.completed {
	background: var(--blue);
}
#content main .table-data .order table tr td .status.process {
	background: var(--yellow);
}
#content main .table-data .order table tr td .status.pending {
	background: var(--orange);
}


#content main .table-data .todo {
	flex-grow: 1;
	flex-basis: 400px;
	height:100%;
}
#content main .table-data .todo .todo-list {
	width: 100%;

}
#content main .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 7px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
	border-left: 10px solid var(--blue);
}

#content main .table-data .todo .todo-list p {
	margin-bottom:0;
}

#content main .table-data .todo .todo-list li.not-completed {
	border-left: 20px solid var(--orange);
}
#content main .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}

.mesa-item{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:3px;
    width:36px;
    height:36px;
    color:var(--grey);
    border: 1px solid var(--grey);
    border-radius:5px;
    cursor:pointer;
    margin:5px;
}
/* MAIN */
/* CONTENT */









@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}
}






@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show ~ .notification,
	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	}
	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
}


.nav-link.active {
    color: rgba(0,0,0,.2);
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color);
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin-left: 10px;
}


.mesa-item.active{
     background-color: var(--blue);
    border-color: var(--blue);
}

.mesa-item.disabled{
    background-color: var(--light-blue);
    border-color: var(--light-blue);
    pointer-events: none;
    }


    .btn:disabled, fieldset:disabled .btn {
    color: rgba(0,0,0,.3);
    pointer-events: none;
    background-color: var(--grey);;
    border-color: var(--grey);
    opacity: .8;
}

.categoria-item{
    height: calc(2.5rem + calc(var(--bs-border-width) * 2));
     display:flex;
    justify-content:space-between;
    align-items:center;
    width: 100%;
    padding: 2rem;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.cardapio-texto{

    font-size:.9rem;
    font-weight:600;
}


.cardapio-valor{
    font-size:.7rem;
    font-weight:500;
    color: var(--dark-grey)
}

.todo .nav-link{
     font-size:.7rem;
    font-weight:500;
    color: var(--dark-grey)
}

.todo .nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
    width: 100%;
        background: var(--light);
        border-bottom:1px solid var(--grey)
}

.optionAceitar{
    overflow:hidden;
    height:25px;
    text-align:center;
    padding:8px 24px;
    border-radius:4px;
    width:auto;
    border:none
}

.optionAceitar.text-danger{
    background:var(--light-orange);
    margin-top:4px;
}

.optionAceitar.text-success{
    background:#cff4fc;
    margin-top:4px;
}
.optionAceitar.text-warning{
    background:var(--light-yellow);
}

.pedidoCard{
border:1px solid var(--grey) ;
padding:15px ;
background:#F5F5F5;
}

#comandas-tab .nav-item{


}


.table .valor{
 font-size:.9rem;
 color:var(--dark-grey)
}

.fixed-table-toolbar .form-control.search-input{
    display: block;
    width: 100%;
    min-width:300px;
    padding: 0.375rem 0.75rem;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#comandas-tab .nav-link{
    font-size:.8rem;
    color:var(--dark-grey)
}
#comandas-tab .badge{
    font-size:.8rem;
        background:var(--dark-grey);

}
#comandas-tab .nav-link.active{
    font-size: .8rem;
    color: var(--blue);
    font-weight: 600;
}

#comandas-tab .nav-link.active .badge{
    font-size: .8rem;
    background:var(--blue);
    font-weight: 600;
}

#comandas-tab.flex-sm-row {
    flex-direction: row!important;
    justify-content: end;
    align-items: end;
}

.status_mesa{
font-size:.7rem;
}

.text-{
    font-size: .8rem;
    color: var(--dark);
    white-space: nowrap;
}
.light-text{
  font-size: .6rem;
    color: var(--dark);
    font-weight:500
}

.type{
    border-right:1px solid var(--grey);
    margin-right:14px;
    width:100px;
}

.list-group {
    --bs-list-group-color: var(--bs-body-color);
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;}

    .detail-subtitle{
font-size:.7rem;
    font-weight:400
}

.text-bg-light {
    color: #000!important;
    background-color: #f5f5f5!important;
}

.accordion-button:not(.collapsed) {
    color: rgba(0,0,0,.5);
    font-size:.8rem;
    background-color: #f5f5f5;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.accordion-collapse{
background-color: #f5f5f5;
}
.form-floating{
 font-size:.8rem;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
  width:350px;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: .8rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}



.title-produto{
    font-size: 1.5rem;
    font-weight:600;
}
.cal-produto{
  font-size:.8rem;
}
.topico{
     font-weight:600;
}
.x-card .text-bg-secondary{
background:#f5f5f5!important;
color:rgba(0,0,0,.8)!important;
font-weight:500;
}

.text-produto{
     font-size:.8rem;
    font-weight:600;
}

.container_photo{
   width: 300px;
  height: 300px;
  overflow: hidden;
  background:#f5f5f5!important;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
}

.form-select,.form-control{
    font-size:.8rem!important;
}

.form-select{
    padding: 20px 2.25rem 20px 0.75rem;
}

.accordion-collapse {
width:350px;
}

.description{
    width:100%;
}
.list-group,.btn-group,.btn-check,.btn-group label{
    font-size:.8rem
}

.nav-underline a{
    font-size:.8rem;
    color:#000;
}

.nav-underline{
 border-bottom:3px solid rgba(0,0,0,.1);
 }

#Produtos .nav-link.active {
        color: rgba(0,0,0,1);
    background-color: var(--bs-nav-tabs-link-active-bg);
    position:relative;
}


#Produtos .nav-link.active:after{
    content:'';
    position:absolute;
    border-bottom:3px solid #000;

    width:100%;
    bottom:-3px;
    left:0;
    }

#Produtos .nav-link {
 color: rgba(0,0,0,.2);
}

.icon-title i {
    font-size:2rem
}

 tr {
   border:none
}

.table-bordered>:not(caption)>*>* {
    border-width: 0 0;
}

.info{
    background: rgb(255, 246, 233);
    border-radius: 8px;
        margin-top: 16px;
        flex: 1 1 0%;
        padding: 14px;
}

.info-title{
    margin-bottom: 8px;
    font-weight: 600;
        font-size: 18px;
        line-height: 20px;
    }
    .info-texto{
    font-size: 12px;
    font-weight: normal;
        margin-bottom: 8px;
        line-height: 18px;
}
  .i1{
  background-image: url('https://merchants.ubereats.com/manager/menumaker/_static/bb4d9a4f52f028ef.png');
background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
        width: 105%;
            height: 100px;
                max-width: 200px;
                overflow: hidden;
  	}

  	.info-btn{
    background-color: rgb(255, 255, 255);
        padding-right: 8px;
        padding-left: 8px;
        padding-bottom: 6px;
        border-bottom-left-radius: 38px;
        border-top-left-radius: 38px;
        border-bottom-right-radius: 38px;
        border-top-right-radius: 38px;
        color: rgb(38, 38, 38);
        font-size: 12px;
        line-height: 16px;
            padding-top: 6px;
                font-weight: 500;
                border:none;
}
.btn.btn-dark{
    font-size:.8rem!important;
    border-radius:25px;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    border-color:var(--bs-border-color);
    outline: 0;
    box-shadow:none;
}

.border-input{
    border-bottom: var(--bs-border-width) solid var(--bs-border-color);
}


.no-border {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.no-border:focus {
    color: var(--bs-body-color);
    background-color: transparent;
    border-color:transparent;
    outline: 0;
    box-shadow: none;
}

.green{
    color: rgb(67, 164, 34);

}

.subtitle{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 14px;
}
.section-reduce{
max-width: 550px;
}
.btn-secondary{
    color: #AFAFAF;
   background-color: #F6F6F6;
   border-color: #F6F6F6;
}

.form-check-label{
    font-size:.8rem;
}
.alerta-container {
  position: fixed;
  bottom: 0%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:9999;
}
.alerta-container .alert{
  min-width: 450px;
  }


.table{
    font-size:.8rem
}

#metrica{
    border: none;
}

.form-select:focus {
    border-color: #f5f5f5;
    outline: 0;
    box-shadow:none!important;
}

.pagination-detail{
font-size:.8rem;
}

