.editPage{
    margin-top:50px;
}
.main-loja{
    position:relative;
    overflow:hidden;
    height:20vh;
     background:#462B18;
     color:#fff;

}

.main-loja h1{
     text-shadow: 2px 2px 4px #462B18;

}
.main-loja img{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    opacity:.9;

}
.loja-details{
   padding: 20px 0;
   z-index:9;
   position:relative;

   margin-top:-40px;

}
.loja-details h1{
    font-size:3.5rem;
    margin-bottom:0;
}

.bg-title{
    background:rgba(255,255,255,1);
    width:auto;
    border-radius: 10px;
}
.card-address{
   font-size:.8rem;
   font-weight:400;
}
.premium{
   color:#462B18;
}
.loja-sub-card{
    border:1px solid rgba(70, 43, 24,.01);
    background:#F6F3E9;
    height:180px;
 border-radius: 10px;
}
a{
    text-decoration:none;
}

.ver-todos{
    margin-top:-20px;
}
.card{
    background:#fff;
    border-color:#F6F3E9;
}
.wrap-content{
    height:90px;

}
.card-produtos{
    width:20%;

}
.card-inner{
    border:1px solid #dee2e6;
    overflow:hidden;
    border-radius:5px;
}
.card-link{
   font-size:.7rem;
   font-weight:600;
}

.card-title-produtos{
    font-size:1rem;
       font-weight:600;
        color:#462B18;
}

.card-price{
    font-size:.8rem;
   font-weight:400;
    color:#462B18;
    font-style: italic;
}
.img-card{
    position:relative;
    overflow:hidden;
    min-height:150px;

      text-align:center;
}
.click{
    cursor:pointer;
}
.img-card img{
     height:150px;
     margin:0 auto;
     text-align:center;
}
