body{
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.card-info{
     position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    color:whitesmoke;
    max-width:550px;
    border: 5px solid whitesmoke ;
    border-radius: 0.25rem;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 12%);
    padding:22px;
    background:var(--bs-info-rgb);


}

.card-info h1{
    font-weight:700;
    font-size:3rem;

}
.btn{
border: 2px solid #f8f9fa;
border-radius:4px;
 box-shadow: 0 10px 15px 0 rgb(0 0 0 / 10%);
 }
.btn:hover {
    color: var(--blue);
    background-color: rgba(255,255,255,.3);
    border-color: rgb(--bs-btn-hover-bg);

}

.admin{
    top:25px;
    right:25px;
}