{% extends "shared/base_dashboard.html" %}
{% block mainContent %} {{ url_for(request.endpoint, **request.view_args) }} {%endblock%}
{% block class_dashboard %}active{% endblock %}
{% block content %}

<!-- MAIN -->
<ul class="box-info">
    <li>
        <i class='bx bxs-calendar-check'></i>
        <span class="text d-flex  justify-content-center align-items-center">
   {% set count = namespace(value=0) %}
{% for i in mesas %}
             {% if i.status %}
  {% set count.value = count.value + 1 %}
    {% endif %}

{% endfor %}


						<h3 id="total_mesas_abertas" class="m-0 p-0 me-2">{{count.value}}</h3>
						<p class="m-0 p-0">Mesas Abertas</p>
					</span>
    </li>
    <li>
        <i class='bx bxs-group'></i>
        <span class="text d-flex  justify-content-center align-items-center">
               {% set countcomandas = namespace(value=0) %}
                {% for i in comandas %}
                             {% if i.status %}
                  {% set countcomandas.value = countcomandas.value + 1 %}
                {% endif %}

            {% endfor %}
						<h3 class="m-0 p-0 me-2">{{countcomandas.value}}</h3>
						<p class="m-0 p-0">Comandas</p>
					</span>
    </li>
    <li>
        {% set countpedidosEntregues = namespace(value=0) %}
        {% for i in pedidos %}
        {% if i.status == "Entregue" %}
        {% set countpedidosEntregues.value = countpedidosEntregues.value + 1 %}
        {% endif %}
        {% endfor %}
        <i class="bx bi bi-basket3-fill"></i>
        <span class="text d-flex  justify-content-center align-items-center">
			<h3 class="m-0 p-0 me-2">{{countpedidosEntregues.value}}</h3>
			<p class="m-0 p-0">Entregues</p>
	    </span>
    </li>
    <li>
        <i class='bx bxs-dollar-circle'></i>
        <span class="text d-flex  justify-content-center align-items-center">
			<h3 class="m-0 p-0 me-2">{{total_vendas}}</h3>
		</span>
    </li>
</ul>
<div class="card-dash d-flex p-2">
    <div class="w-50 p-3">
        <div class="head">

            <h4>Novos pedidos<span class="badge bg-secondary mx-2">{{ count_pedidos_checkout }}</span></h4>

            <!--            <i class='bx bx-plus'></i>-->
            <!--            <i class='bx bx-filter'></i>-->
        </div>

        <div id="listaPedidos">
            {% for pedido in comandas %}
            {% if pedido.status == 'checkout' %}
            {% with _id=pedido._id %}
            {% include '/dashboard/pedido_componente.html' %}
            {% endwith %}
            {% endif %}
            {% endfor %}
        </div>


    </div>
    <div class="w-50 p-3">
        <div class="head">
            {% set countpedidos = namespace(value=0) %}
            {% for i in comandas %}
            {% if i.status == "Aceito" %}
            {% set countpedidos.value = countpedidos.value + 1 %}
            {% endif %}

            {% endfor %}
            <h4>Fila de produção<span class="badge bg-secondary mx-2">{{countpedidos.value}}</span></h4>

        </div>

        {% for pedido in comandas %}
        {% if pedido.status == "Aceito" %}
        {% with _id=pedido._id , _editMode=true %}
        {% include '/dashboard/pedido_componente.html' %}
        {%endwith%}

        {% endif %}
        {% endfor%}


    </div>
</div>
<!-- MAIN -->
<script src="../static/js/dashboard.js"></script>

{% endblock %}