{% set lista_pedidos = pedidos|list %}
<li class="list-group-item"><span id="total_items">{{ lista_pedidos|count }}</span> items</li>
{% for pedido in lista_pedidos %}
<li class="list-group-item d-flex justify-content-between align-items-center">
    <span class="badge bg-secondary me-3 qnt">{{pedido.quantidade}}</span>
    <div class="flex-fill detail-valor">
        {{getCardapio(pedido._idCardapio).nome_produto}}
    </div>
    <div>

        <div class="d-flex  justify-content-end align-items-end">
            {% if not pedido.status %}
            <span class="badge text-bg-warning ">Em Espera</span>
            {% endif %}
             <div class="detail-valor mx-2 VALUE"> {{getValordoPedido(pedido._id)}}</div>

        </div>

    </div>
</li>

{% endfor %}

<li class="list-group-item d-flex justify-content-between align-items-center">
    <div></div>
    <div class="d-flex  justify-content-end align-items-end detail-valor ">
            <span>subtotal</span>
             <div class="detail-valor mx-2 VALUE"> {{getSubTotalComanda(lista_pedidos[0]._idComanda)}}</div>
        </div>
</li>

<li class="list-group-item d-flex justify-content-between align-items-center">
    <div></div>
    <div class="d-flex  justify-content-end align-items-end detail-valor ">
            <span>gorjeta</span>
             <div class="detail-valor mx-2 VALUE"> {{MoneyFormatter(getComanda(lista_pedidos[0]._idComanda).gorjeta|float)}}</div>
        </div>
</li>

<li class="list-group-item d-flex justify-content-between align-items-center">
    <div></div>
    <div class="d-flex  justify-content-end align-items-end  ">

             <div class="badge text-bg-success VALUE d-flex  justify-content-center align-items-center ">
                 <span class=" me-4">Valor final</span>
             <div class="">{{getTotalComanda(lista_pedidos[0]._idComanda)}}</div>
             </div>
        </div>
</li>