{% extends "shared/base.html" %}
{% block content %}


<section class="apx1 container text-center d-flex flex-column justify-content-center align-items-center ">
 <a href="/login" class="position-absolute admin text-light"><i style="font-size:2rem" class='bx bx-restaurant'></i></a>

    <div class="card-info">
        <h1 class="mb-2">Bem-vindo ao nosso aplicativo de comanda online! </h1>
        <p class="mb-2">Com o nosso aplicativo, você pode desfrutar de uma experiência de comanda mais fácil e rápida.
            Temos
            duas opções para você começar a usar nosso aplicativo: entrar como administrador ou entrar como cliente.</p>
     <div class="d-grid gap-2 w-100">



            <a href="/cliente" class="btn btn-outline-light btn-lg  p-2 m-2">Abrir Comanda!</a>

        </div>

    </div>


</section>



{% endblock %}