{% extends "shared/base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/loja.css">
{% for loja in estabelecimento%}
<div class="editPage"></div>
<section class="container-fluid d-flex flex-column justify-content-center align-items-center text-center main-loja ">
    {% if not loja.filename %}
    <img src="{{ url_for('static', filename='img/back-main.jpeg') }}" alt="Foto da loja">
    {% else %}
    <img src="{{ url_for('static', filename='uploads/'+ loja.filename) }}" alt="Foto da loja">
    {% endif %}


</section>
<section class="container">

    <div class="loja-details bg-title pe-5 ps-5 mb-5">
        <div class="d-flex justify-content-start align-items-start position-relative ms-2 w-100 ">
            <div class="me-3">
                <div class="d-flex flex-column justify-content-start align-items-start">
                    <div id="map" class="flex-end" style="height: 120px;width:120px"></div>
                </div>
            </div>
            <div class="pe-5 flex-fill">
                <div class="pe-5">

                    <div class=" d-flex flex-column justify-content-start align-items-start card-address ">
                        <div class="mb-2">
                            <h3>{{loja.nome_comercial}}</h3>
                        </div>
                        <div class="d-flex justify-content-start align-items-center position-relative w-100">
                            <div class="text-center d-flex   justify-content-center align-items-center me-4">
                                <i style="font-size:1rem;" class='bx bxs-time-five laranja  me-1'></i>
                                <div class="card-address">
                                    15min - 30min
                                </div>
                            </div>
                            <div class="text-center d-flex   justify-content-center align-items-center me-4">
                                <i style="font-size:1rem;" class='bx bxs-star laranja me-1'></i>
                                <div class="card-address">
                                    3.9
                                </div>
                            </div>
                            <div class="text-center d-flex  justify-content-center align-items-center ">
                                <i style="font-size:1rem;" class='bx bx-dollar laranja me-1'></i>
                                <div class="card-address">
                                    <strong> Moderado</strong>
                                </div>
                            </div>
                        </div>
                        <div class="w-100 me-4">
                            <i class='bx bx-building-house laranja me-2'></i>{{ loja.endereco }}, {{ loja.numero }} - {{
                            loja.bairro }}, {{
                            loja.cidade
                            }}/{{ loja.estado }} - {{ loja.CEP }}
                        </div>
                        <div class="w-100 me-4">
                            <i class='bx bx-phone laranja me-2'></i>{{loja.telefone_comercial}}
                        </div>

                    </div>


                </div>

            </div>

            {% if not check %}
            <form id="form_fav" method="post" action="/favoritos/{{loja._id}}">
                <input type="checkbox" name="favorito" id="input_favorito"/>
                <button class="btn" onclick="toggleHeartIcon(event)">
                    <i id="favorito" class='bx bx-heart'></i>
                </button>
            </form>
            {% else %}
            <form id="form_fav" method="post" action="/favoritos/{{loja._id}} ">
                <input type="checkbox" name="favorito" id="input_favorito" checked/>
                <button class="btn" onclick="toggleHeartIcon(event)">
                    <i id="favorito" class='bx bxs-heart'></i>
                </button>
            </form>
            {% endif %}
        </div>
        <div class="mb-2 mt-4">
            <div class="w-100  ">
                <div class="laranja">Mais Populares</div>
            </div>
            <a href="#" class="card-link ver-todos laranja w-100 d-flex justify-content-end align-items-center">
                ver todos <i class='bx bxs-chevrons-right ps-3'></i>
            </a>
        </div>
        <div class="d-flex flex-wrap w-100">
            {% for item in cardapios%}
            <a href="/produto/{{item._id}}" class="card-produtos p-1">
                <div class="card-inner">
                    <div class="img-card">

                        <img src="{{url_for('user_routes.uploaded_file', filename=item['filename'] )}}"
                             class="" alt="...">

                    </div>

                    <div class="card-body text-center mt-1">
                        <div class="card-title-produtos">{{item.nome_produto}}</div>
                        <!--                    <div class="wrap-content d-flex flex-column justify-content-between align-items-center">-->
                        <!--                        <div class="card-title-produtos">{{item.nome_produto}}</div>-->
                        <!--                        <div class="d-flex justify-content-center align-items-center mb-3 mt-2 premium">-->
                        <!--                            <div class="text-center d-flex   justify-content-center align-items-center me-2">-->
                        <!--                                <i style="font-size:.8rem;" class='bx bxs-time-five laranja  me-1'></i>-->
                        <!--                                <div class="card-address">-->
                        <!--                                    {{item.tempo_estimado}}min-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                            <div class="text-center d-flex   justify-content-center align-items-center">-->
                        <!--                                <i style="font-size:.8rem;" class='bx bxs-star laranja me-1'></i>-->
                        <!--                                <div class="card-address">-->
                        <!--                                    3.9-->
                        <!--                                </div>-->
                        <!--                            </div>-->


                        <!--                        </div>-->
                        <!--                    </div>-->

                        <div class="card-price">
                            {{item.valor}}
                        </div>
                        <div class="d-grid gap-2 mt-3">
                            <button class="btn btn-dark btn-sm">Comprar</button>
                        </div>

                        <!--                    <a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
            </a>
            {% endfor%}
        </div>

        {% for categoria in categorias %}
        <div class="mb-2 mt-5">
            <div class="w-100  ">
                <div class="laranja">{{categoria.nome}}</div>
            </div>
            <a href="#" class="card-link ver-todos laranja w-100 d-flex justify-content-end align-items-center">
                ver todos <i class='bx bxs-chevrons-right ps-3'></i>
            </a>
        </div>
        <div class="d-flex flex-wrap w-100">


            {% for item in cardapios[:5] %}

            {% if item.categoria|string == categoria._id|string %}
            <a href="/produto/{{item._id}}" class="card-produtos p-1">
                <div class="card-inner">
                    <div class="img-card">

                        <img src="{{url_for('user_routes.uploaded_file', filename=item['filename'] )}}"
                             class="" alt="...">

                    </div>

                    <div class="card-body text-center mt-1">
                        <div class="card-title-produtos">{{item.nome_produto}}</div>
                        <!--                    <div class="wrap-content d-flex flex-column justify-content-between align-items-center">-->
                        <!--                        <div class="card-title-produtos">{{item.nome_produto}}</div>-->
                        <!--                        <div class="d-flex justify-content-center align-items-center mb-3 mt-2 premium">-->
                        <!--                            <div class="text-center d-flex   justify-content-center align-items-center me-2">-->
                        <!--                                <i style="font-size:.8rem;" class='bx bxs-time-five laranja  me-1'></i>-->
                        <!--                                <div class="card-address">-->
                        <!--                                    {{item.tempo_estimado}}min-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                            <div class="text-center d-flex   justify-content-center align-items-center">-->
                        <!--                                <i style="font-size:.8rem;" class='bx bxs-star laranja me-1'></i>-->
                        <!--                                <div class="card-address">-->
                        <!--                                    3.9-->
                        <!--                                </div>-->
                        <!--                            </div>-->


                        <!--                        </div>-->
                        <!--                    </div>-->

                        <div class="card-price">
                            {{item.valor}}
                        </div>
                        <div class="d-grid gap-2 mt-3">
                            <button class="btn btn-dark btn-sm">Comprar</button>
                        </div>

                        <!--                    <a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor%}
        </div>

        {% endfor%}


    </div>


</section>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbGe1ZfMMiDbYzz2XJ1ImxjQ-4hIs3Xko"></script>

<script>
        function initMap() {
              var geocoder = new google.maps.Geocoder();
              map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: { lat: -23.5505, lng: -46.6333 } // São Paulo, Brasil
              });

              // You can add a marker to the map with a generic location
              var marker = new google.maps.Marker({
                position: { lat: -23.5505, lng: -46.6333 },
                map: map,
                title: 'São Paulo, Brasil'
              });
        }
initMap()


const favorito = $('#input_favorito');
var form = document.getElementById('form_fav');

function toggleHeartIcon(event) {
    event.preventDefault(); // Evita o comportamento padrão do link

    var heartIcon = document.getElementById('favorito');
    if (heartIcon.classList.contains('bx-heart')) {
        heartIcon.classList.remove('bx-heart');
        heartIcon.classList.add('bxs-heart');
        favorito.prop('checked',true)
    } else {
        heartIcon.classList.remove('bxs-heart');
        heartIcon.classList.add('bx-heart');
         favorito.prop('checked',false)
    }

    var url = form.action;

    $.ajax({
        type: 'POST',
        url: url,
        data: $(form).serialize(),
        success: function(response) {
            // Lógica a ser executada em caso de sucesso
            console.log('Formulário enviado com sucesso!');
        },
        error: function(error) {
            // Lógica a ser executada em caso de erro
            console.log('Erro ao enviar o formulário: ' + error);
        }
    });


}








































</script>

{% endfor %}
{% endblock %}