{% extends "shared/base.html" %}
{% block content %}
<style>
.nav-i, .nav-text{
    color:#000;
}
.bg-light{
    width:450px
}
label{
    font-size:.8rem
}
</style>
<link href="../static/css/user.css" rel="stylesheet">
<div class="container d-flex text-center flex-column justify-content-center align-items-center vh-100">
    <div style="" class="step-1">
        <div class="bg-light  p-5 d-flex justify-content-center ">
<!--            <div class="w-50 text-center d-flex justify-content-center align-items-center">-->
<!--                <img src="./static/img/sign.jpg" class="me-5" width="90%">-->
<!--            </div>-->
<!--            <div class="border"></div>-->
            <div class="w-100 d-flex flex-column justify-content-between align-items-center">
                <div class="d-flex justify-content-center align-items-center">
                     <h2> Crie sua empresa!</h2>
                </div>
                <form id="cadastrar-user" class="w-100">
                    <div class="form-floating mb-3 w-100">
                        <input type="email" class="form-control w-100" id="email" name="email" placeholder="Email"
                               autocomplete="off"
                        >
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating mb-3 w-100">
                        <input type="password" class="form-control " id="passsword" name="password"
                               placeholder="passsword"
                        >
                        <label for="passsword">Crie uma senha:</label>

                    </div>
                    <div class="form-floating mb-3 w-100">
                        <input type="password" class="form-control " id="Rpassword" name="Rpassword"
                               placeholder="Rpassword"
                        >
                        <label for="Rpassword">Repita a senha:</label>
                        <div style="text-align:left" id="password-feedback" class="invalid-feedback">
                            As senhas não são iguais.
                        </div>
                    </div>


                    <button class="btn btn-dark w-100" type="button" onclick="InserirUser()">
                        COMERÇA AGORA >
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/login.js"></script>

{% endblock %}