{% extends "shared/base_dashboard.html" %}
{% block mainContent %} {{ url_for(request.endpoint, **request.view_args) }} {%endblock%}
{% block class_cardapio %}active{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="../static/css/cards.css">
<!-- MAIN -->

<div class="table-data m-0">

    <div id="Produtos" style="flex-basis: 100%;" class="order">
        <ul class="nav nav-underline" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                   type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Visão Geral
                </a>
            </li>
            <!--            <li class="nav-item" role="presentation">-->
            <!--                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"-->
            <!--                   type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Menus-->
            <!--                </a>-->
            <!--            </li>-->
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
                   type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Categorias
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane"
                   type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">Items
                </a>
            </li>

            <!--            <li class="nav-item" role="presentation">-->
            <!--                <a class="nav-link" id="grupo-tab" data-bs-toggle="tab" data-bs-target="#grupo-tab-pane"-->
            <!--                   type="button" role="tab" aria-controls="grupo-tab-pane" aria-selected="false">grupos-->
            <!--                </a>-->
            <!--            </li>-->
        </ul>


        <div class="tab-content mt-5 ps-3" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                 tabindex="0">
                <div class="info d-flex justify-content-between align-items-center">
                    <div>
                        <div class="info-title">Incluir fotos dos itens do cardápio pode aumentar as vendas</div>
                        <div class="info-texto">As fotos ajudam o cliente a escolher o pedido. Para adicioná-las, acesse
                            “Itens”
                            e escolha um item do cardápio.
                        </div>
                        <button type="button" class="info-btn">
                            Adicionar foto
                        </button>

                    </div>
                    <div class="az c4 b0 hu hv">
                        <div class="hw hx gz hy hz i0 ed i1"></div>
                    </div>
                </div>
                <ul class="box-info">
                    <li>
                        <i class='bx bxs-calendar-check'></i>

                        <span class="text d-flex  justify-content-center align-items-center">
   {% set countComidas = namespace(value=0) %}
{% for i in cardapios %}
             {% if getCategoria(i.categoria).nome == "Comidas" %}
  {% set countComidas.value = countComidas.value + 1 %}
    {% endif %}
{% endfor %}
						<h3 class="m-0 p-0 me-2">{{countComidas.value}}</h3>
						<p class="m-0 p-0">Produtos em Comidas</p>
					</span>
                    </li>
                    <li>
                        <i class='bx bxs-calendar-check'></i>
                        <span class="text d-flex  justify-content-center align-items-center">
   {% set countBebidas = namespace(value=0) %}
{% for i in cardapios %}

             {% if getCategoria(i.categoria).nome == "Bebidas" %}
  {% set countBebidas.value = countBebidas.value + 1 %}
    {% endif %}

{% endfor %}


						<h3 class="m-0 p-0 me-2">{{countBebidas.value}}</h3>
						<p class="m-0 p-0">Produtos em Bebidas</p>
					</span>
                    </li>
                    <li>
                        <i class='bx bxs-calendar-check'></i>
                        <span class="text d-flex  justify-content-center align-items-center">
   {% set count = namespace(value=0) %}
{% for i in cardapios %}
             {% if i.status %}
  {% set count.value = count.value + 1 %}
    {% endif %}

{% endfor %}


						<h3 class="m-0 p-0 me-2">{{count.value}}</h3>
						<p class="m-0 p-0">Total Produtos</p>
					</span>
                    </li>

                </ul>


            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                Menus
            </div>
            <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
<div class="head mb-3">
    <div class="d-flex justify-content-between align-items-center w-100 mb-3">
        <h3> Categorias </h3>

    </div>
</div>

                <div class="d-flex justify-content-between align-items-start">
                    <div class="w-50 me-5">
                        <div class="section-reduce">
                            <ol class="list-group list-group-numbered">
                                {% for categoria in categorias %}
                                <li class="categoria-item d-flex list-group-item" data-id="{{categoria._id}}">
                                    <div class="flex-fill mx-2">
                                        {{categoria.nome}}
                                    </div>

                                    <div>
                                        <form action="/excluir_categoria" method="post">
                                            <input type="hidden" name="_idCategoria" value="{{categoria._id}}">
                                            <a href="#" onclick="$('#{{categoria._id}}').click()" class="text-danger">
                                                <i
                                                        class='bx bxs-trash-alt'></i> </a>
                                            <button id="{{categoria._id}}" style="display:none" type="submit"></button>
                                        </form>
                                    </div>
                                </li>
                                {% endfor%}
                            </ol>
                        </div>
                    </div>
                    <div class="alert alert-secondary section-reduce w-50 ms-5" role="alert">
                        <h6 class="text-">Criar nova categoria:</h6>
                        <form action="/categoria" method="POST">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="nome" placeholder="Username" required>
                                <label for="valor">Nome Categoria</label>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-dark "  type="submit">Addicionar nova categoria</button>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
            <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab"
                 tabindex="0">


                <div class="lista_items">
                    {% include '/dashboard/items_view.html'%}
                </div>
                <div style="display:none" class="add_items">
                    {% include '/dashboard/Additems_view.html'%}
                </div>


            </div>

            <div class="tab-pane fade" id="grupo-tab-pane" role="tabpanel" aria-labelledby="grupo-tab"
                 tabindex="0">grupo
            </div>
        </div>


    </div>


</div>

<!-- MAIN -->


<div class="modal fade" id="cardapio-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="d-flex justify-content-between align-items-center p-3">
                <h1 class="modal-title fs-5 flex-grow-1" id="exampleModalLabel">Gerenciar</h1>


                <form action="/status_cardapio" method="POST" class="form-check form-switch">
                    <input class="form-check-input form-check-input-sm " name="ativo" type="checkbox"
                           role="switch"
                           id="ativo_edit" onchange="$('#status_submit').click()">
                    <label class="form-check-label me-4" for="ativo_edit"><small
                            style="font-size:.8rem">ATIVO</small></label>
                    <input type="hidden" name="produto_remove" id="produto_status_id">
                    <input type="hidden" name="no-ativo" id="ativo">

                    <input type="submit" style="display:none" id="status_submit">
                </form>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form action="/edit_cardapio" method="post" enctype=multipart/form-data>
                    <input type="hidden" name="produto_remove" id="produto_remove">
                    <div class="preview_edit mb-2 w-100 d-flex justify-content-center align-items-center position-relative">
                        <img src="" id="filename_edit" align="middle"/>
                        <input style="display:none" class="form-control form-control-sm" type=file name=file
                               id="file_edit" onchange="$('#alterar_produto').click()">

                        <button type="button"
                                class="btn btn-primary w-100 d-flex justify-content-center align-items-center position-absolute bottom-0"
                                onclick="$('#file_edit').click()">
                            <span style="font-size:.8rem" class="me-2">Alterar imagem</span><i
                                class='bx bx-image-add'></i>
                        </button>
                    </div>
                    <div class="input-group mb-1">

                        <div class="form-floating mb-1">
                            <input style="font-size:.8rem;height: 0;margin-top:6px" type="text" class="form-control "
                                   id="nome_produto_edit" name="nome"
                                   placeholder="Insira um nome para o produto" required>
                            <label style="font-size:.8rem" for="nome_produto_edit">Nome do Produto</label>
                        </div>
                    </div>
                    <div class="input-group mb-1">
                        <div class="form-floating ">
                            <select style="font-size:.8rem;height: 50px" class="form-select" id="categoria_edit"
                                    aria-label="" name="categoria" required>
                                <option selected>Escolha a categoria</option>
                                {% for categoria in categorias %}
                                <option value="{{categoria._id}}">{{categoria.nome}}</option>
                                {% endfor%}
                            </select>
                            <label style="font-size:.8rem" for="categoria_edit">Categoria</label>
                        </div>
                    </div>
                    <div class="input-group mb-1">
                        <div class="form-floating d-flex justify-content-between align-items-center">
                            <input style="font-size:.8rem;height: 0;margin-top:6px" type="number" class="form-control"
                                   id="tempo_edit" name="tempo"
                                   placeholder="tempo"
                                   value="15" max='60' min='00' step="5" required>
                            <label style="font-size:.8rem" for="tempo">Tempo médio para preparo - Min </label>
                        </div>
                    </div>
                    <div class="input-group mb-1 d-flex justify-content-between align-items-center">
                        <div class="form-floating ">

                            <input style="font-size:.8rem;height: 0;margin-top:6px" type="text"
                                   class="form-control valor" id="valor_edit" name="valor"
                                   placeholder="Username"
                                   required>


                            <label style="font-size:.8rem" for="valor_edit">Valor de venda - R$</label>
                        </div>
                    </div>
                    <div class="mb-1">
                        <div class="input-group mb-1">
                            <div class="form-floating d-flex justify-content-between align-items-center">
                                <input style="font-size:.8rem;height: 0;margin-top:6px" type="number"
                                       class="form-control " min="0" id="estoque_edit"
                                       name="estoque"
                                       placeholder="Estoque"
                                       value="0">
                                <label style="font-size:.8rem" for="estoque_edit">Estoque - Unid</label>
                            </div>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input form-check-input-sm" name="no-stock" type="checkbox"
                                   role="switch"
                                   id="no_stock_edit" onchange=changeEstoque_edit(this)>
                            <label class="form-check-label" for="no_stock_edit"><small style="font-size:.8rem">ignorar
                                estoque</small></label>
                        </div>
                    </div>

                    <hr>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" id="alterar_produto" type="submit">Alterar produto</button>
                    </div>
                </form>
            </div>
            <!--            <div class="modal-footer">-->
            <!--                &lt;!&ndash;                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>&ndash;&gt;-->
            <!--                <form action="/remover_mesa" method="post">-->
            <!--                   -->
            <!--                    <button type="submit" class="btn btn-danger">Remover Permanentemente</button>-->
            <!--                </form>-->
            <!--            </div>-->
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="categoria_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
        <div class="modal-content ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Gerenciar Categoria</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>

<script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>

<script src="../static/js/cardapio.js"></script>

{% endblock %}