{% extends "shared/base.html" %}
{% block content %}
<link href="../static/css/user.css" rel="stylesheet">
<div class="container d-flex text-center flex-column justify-content-center align-items-center vh-100">
    <div style="" class="step-1 w-75">
        <div class="bg-light  p-5 d-flex justify-content-center ">
            <div class="w-50 text-center d-flex justify-content-center align-items-center">
                <img src="./static/img/sign.jpg" class="me-5" width="90%">
            </div>
            <div class="border"></div>
            <div class="w-50 ps-5  d-flex flex-column justify-content-center align-items-start">

                <form action="/esqueci-senha" method="post" class="w-100">
                    <h2>
                        Recuperar senha!
                    </h2>
                  <p>Insira o email de login na plataforma:</p>
                    <div class="form-floating mb-3 w-100">
                        <input type="email" class="form-control " id="email" name="email" placeholder="Email"
                               autocomplete="off"
                        >
                        <label for="email">Email</label>
                    </div>



                    <button class="btn btn-marrom btn-lg w-100" type="submit">
                        ENTRAR >
                    </button>
                </form>
            </div>
        </div>
    </div>



</div>



{% endblock %}