{% extends "shared/base.html" %}
{% block content %}
<!-- My CSS -->
<link rel="stylesheet" href="../static/css/index.css">
<div class="container mb-4 init">
    {% include 'user/componentes/menu_main.html' %}
    {% set lista_estabelecimentos = estabelecimentos %}
    {% include 'user/carrousel/index.html'  %}

    <div class="d-flex justify-content-start align-items-start mt-5">

        <div class="flex-fill">
            <div class="subtitle mb-2">Fotos</div>
            <!--    <div class="mt-4 mb-4">-->
            <!--        <div class="d-flex justify-content-between align-items-center">-->
            <!--            <h2>-->
            <!--                Perto de Mim <i class='bx bx-pin laranja'></i>-->
            <!--            </h2>-->


            <!--            <div class="click">-->
            <!--                Brasília <i style="" class='bx bx-chevron-down'></i>-->
            <!--            </div>-->
            <!--        </div>-->

            <!--    </div>-->
        </div>

    </div>


</div>

{% endblock %}