{% extends "shared/base_dashboard.html" %}
{% block mainContent %} {{ url_for(request.endpoint, **request.view_args) }} {%endblock%}
{% block class_mesas %}active{% endblock %}
{% block content %}

<!-- MAIN -->

<ul class="box-info">
    <li>
        <i class='bx bxs-calendar-check'></i>
        <span class="text d-flex  justify-content-center align-items-center">
   {% set count = namespace(value=0) %}
{% for i in mesas %}
             {% if i.status %}
  {% set count.value = count.value + 1 %}
    {% endif %}

{% endfor %}


						<h3 id="total_mesas_abertas" class="m-0 p-0 me-2">{{count.value}}</h3>
						<p class="m-0 p-0">Mesas Abertas</p>
					</span>
    </li>
    <li>
        <i class='bx bxs-calendar-check'></i>
        <span class="text d-flex  justify-content-center align-items-center">
   {% set countTotal = namespace(value=0) %}
{% for i in mesas %}

  {% set countTotal.value = countTotal.value + 1 %}


{% endfor %}

						<h3 class="m-0 p-0 me-2">{{countTotal.value}}</h3>
						<p class="m-0 p-0">Total de Mesas</p>
					</span>
    </li>

</ul>
<div class="table-data m-0">
    <div class="order">

        <div class="head">
            <h3>Cadastrar Nova Mesa</h3>
            <div class="form-floating mb-3">
                <input style="width:120px ; text-align:right;padding-right:10px" type="number"
                       class="form-control form-control-sm " onchange="createMesaInPanel(this.value)" id="max_mesas"
                       placeholder="máximo" value="{{max_mesas}}">
                <label for="max_mesas">Máx. Mesas</label>
            </div>
        </div>
        <div class="d-flex justify-content-start align-items-center mb-3 panel-mesas flex-wrap">

            <div class="mesa-item">1</div>
        </div>
        <form action="/mesas" method="post">
            <div class="mb-3">
                <input type="hidden" name="numero_mesa" id="numero_mesa">
                <input type="hidden" name="max_mesas" id="max_limit_mesas">
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" id="add_mesa" type="submit" disabled>Adicionar mesa</button>
            </div>
        </form>
    </div>

    {% if mesas %}
    <div class="todo">
        <div class="head">
            <h3>Mesas Cadastradas</h3>


            <!--            <i class='bx bx-plus'></i>-->
            <!--            <i class='bx bx-filter'></i>-->
        </div>
        <ul class="todo-list">
            {% for mesa in mesas %}
            <li class="mesa {% if mesa.status %}not-completed{%else%}completed{% endif %} ">
                <a type="button" data-bs-toggle="modal"
                   class="text-dark d-flex justify-content-start align-items-center w-100"
                   data-bs-target="#exampleModal"
                   data-bs-mesa="{{mesa.numero_mesa}}"
                   data-bs-id="{{mesa._id}}"
                   data-bs-status="{{mesa.status}}"
                >
                    <div class="flex-grow-1 ">MESA <span class="nr_mesa">{{mesa.numero_mesa}}</span></div>
                    <div style="color: {{ 'var(--orange)' if mesa.status else 'var(--dark-grey)' }}"
                         class="me-4 status_mesa">{{ "Ocupada" if mesa.status else "Livre" }}
                    </div>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </a>

            </li>
            {% endfor%}
        </ul>
    </div>

    {% endif %}

</div>
<!-- MAIN -->


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edit_mesa" action="/status_mesa" method="POST">
                    <div class="alert alert-secondary" role="alert">
                        <p>Se você mudar o status da mesa para "ocupado", ela ficará indisponível para novas comandas,
                            pois estará sendo usada por outro cliente. Lembre-se de mudar o status de volta para
                            "disponível" quando deixar a mesa.</p>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" onchange="$('#status_submit').click()"
                                   role="switch" id="status_mesa"
                            >
                            <label class="form-check-label" for="status_mesa">marcar como ocupada</label>
                        </div>
                    </div>
                    <input type="hidden" name="no-ativo" id="ativo">
                    <input type="hidden" name="mesa_delete" id="mesa_delete_status">
                    <input type="hidden" name="_id" id="mesa_delete_id">
                    <input type="submit" style="display:none" id="status_submit">
                </form>
                <div id="comanda">
                    <div class="container mt-6 mb-7">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body p-3">
                                        <h3 id="nome_cliente">
                                            cliente.nome
                                        </h3>
                                        <small>CPF:
                                            <strong id="CPF_cliente" class="fs-sm">
                                                cliente.CPF
                                            </strong>
                                        </small>
                                        <div class="border-top border-gray-200 pt-4 mt-4">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <div class="text-muted mb-2">Comanda No.</div>
                                                    <small> <strong id="numero_comanda">comanda._id</strong> </small>
                                                </div>
                                                <div class="col-md-5 text-md-end">
                                                    <div class="text-muted mb-2">Data de Abertura</div>
                                                    <strong><small class="date"
                                                                   id="date_comanda">comanda.hora_abertura</small></strong>
                                                </div>
                                            </div>
                                        </div>

                                        <table id="tabela-pedidos" class="table border-bottom border-gray-200 mt-3">
                                            <thead>
                                            <tr>
                                                <th scope="col" class="fs-sm text-dark text-uppercase-bold-sm px-0">
                                                    Descrição
                                                </th>
                                                <th scope="col"
                                                    class="fs-sm text-dark text-uppercase-bold-sm text-end px-0">Qnt
                                                </th>
                                                <th scope="col"
                                                    class="fs-sm text-dark text-uppercase-bold-sm text-end px-0">Valor
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>


                                            </tbody>
                                        </table>
                                        <div class="mt-5">
                                            <div class="d-flex justify-content-end mt-3">
                                                <h5 class="me-3">Total:</h5>
                                                <h5 id="total-subtotal" class="text-success">$399.99 USD</h5>
                                            </div>
                                        </div>
                                        <form id="comanda_admin"  action="/comanda_admin" method="POST">
                                            <input type="hidden" name="_idComanda" id="_idComanda_view">
                                            <input type="hidden" name="_idMesa" id="_idMesa_view">
                                            <div class="d-grid gap-2 p-3">
                                                <button type="submit" class="btn btn-primary">Ver Comanda
                                                </button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
            <form action="/remover_mesa" method="post">
                <input type="hidden" name="mesa_delete" id="mesa_delete">
                <input type="hidden" name="_idMesa" id="_idMesa">
                <div class="d-grid gap-2 p-3">
                    <button type="submit" class="btn btn-danger remover">Remover Permanentemente</button>
                </div>
            </form>


        </div>
    </div>
</div>


<script src="../static/js/mesas.js"></script>
{% endblock %}