{% extends "shared/base_dashboard.html" %}
{% block mainContent %} {{ url_for(request.endpoint, **request.view_args) }} {%endblock%}
{% block class_pedidos %}active{% endblock %}
{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css">
<ul class="box-info">
    <li>
        {% set countAbertas = namespace(value=0) %}
        {% for i in comandas %}
        {% if i.status == 'aberta' %}

        {% set countAbertas.value = countAbertas.value + 1 %}
        {% endif %}

        {% endfor %}
        <i class="bx bi bi-basket3-fill"></i>
        <span class="text d-flex  justify-content-center align-items-center">
			<h3 class="m-0 p-0 me-2">{{countAbertas.value}}</h3>
			<p class="m-0 p-0">Comandas Abertas</p>
	    </span>
    </li>
    <li>
        <i class='bx bxs-group'></i>
        <span class="text d-flex  justify-content-center align-items-center">
               {% set countcomandas = namespace(value=0) %}
                {% for i in comandas %}
                             {% if i.status %}
                  {% set countcomandas.value = countcomandas.value + 1 %}
                {% endif %}

            {% endfor %}
						<h3 class="m-0 p-0 me-2">{{countcomandas.value}}</h3>
						<p class="m-0 p-0">Total de Comandas</p>
					</span>
    </li>


</ul>
<div class="table-data m-0">
    <div class="order">
        <div class="head mb-0">
            <div class="d-flex flex-column justify-content-start align-items-start me-3">
                <h3 class="mb-0 mt-0">Comandas </h3>
                <small class="text-body-secondary mb-0 mt-0">
                    Últimos 7 dias
                </small>
            </div>

        </div>
        <ul class="nav nav-tabs nav-fill w-100 mt-2" id="comandas-tab" role="tablist">
            {% for link in links %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if loop.index == 1 %}active{% endif %}" id="{{ link.text }}-tab"
                        data-bs-toggle="tab" data-bs-target="#tab-pane-{{ link.text }}" type="button" role="tab"
                        aria-controls="tab-pane-{{ link.text }}" aria-selected="true">
                    <div>
                        {{ link.text }}
                            {% if link.comandas_abertas|int > 0 %}
                    <div class="badge  text-bg-warning ms-1"><small>{{ link.comandas_abertas }}</small></div>
                    {% endif %}
                    </div>
                    <div class="badge rounded-pill  w-100 mt-1">{{link.vendas}}

                    </div>

                </button>


            </li>
            {% endfor %}
        </ul>

        <div class="tab-content" id="myTabContent">
            {% for link in links %}
            <div class="tab-pane fade {% if loop.index == 1 %}show active{% endif %}" id="tab-pane-{{ link.text }}"
                 role="tabpanel"
                 aria-labelledby="home-tab" tabindex="0">

                <table
                        class="table table-bordered table-hover"
                        data-toggle="table"
                        data-search="true"
                        data-click-to-select="false"
                        data-pagination="true">
                    <thead>
                    <tr>
                        <th data-align="center" data-field="_idMesa">Mesa</th>
                        <th data-field="_idCliente" data-sortable="true">Cliente</th>
                        <th data-field="hora_abertura" data-sortable="true">Abertura</th>
                        <th data-align="center" data-field="pagamento" data-sortable="true">pagamento</th>
                        <th data-align="center" data-field="status" data-sortable="true">Status</th>
                        <th data-align="center" data-field="pedidos" data-sortable="true">Pedidos</th>
                        <th data-align="right" data-field="Total" data-sortable="true">Total</th>
                    </tr>
                    </thead>

                    <tbody>


                    {% for comanda in comandas %}


                    {% if comanda.hora_abertura.strftime("%d-%m-%Y") == link.text %}

                    <tr>
                        <td class="text-center pt-0 pb-0 ps-3 pe-3 " style="display: table-cell; padding-left:0;">

                            <small class="text-body-secondary mb-1 mt-1">
                                {{getMesa( comanda._idMesa).numero_mesa}}
                            </small>
                        </td>
                        <td class="pt-0 pb-0 ps-3 pe-3 ">
                            <div class="d-flex flex-column justify-content-start align-items-start">
                                <!--                        <div>{{ getCliente(comanda._idCliente).nome }}</div>-->
                                <small class="text-body-secondary">
                                    {{ getCliente(comanda._idCliente).CPF }}</small>
                            </div>

                        </td>
                        <td class="pt-0 pb-0 ps-3 pe-3">
                            <small class="text-body-secondary date">
                                {{ comanda.hora_abertura }}
                            </small>
                        </td>
                        <td class="pt-0 pb-0 ps-3 pe-3">
                            <small class="text-body-secondary">
                                {{ comanda.tipo_pagamento }}
                            </small>
                        </td>
                        <td class="ps-2 pe-2">
                            <div
                                    class="optionAceitar  {% if comanda.status== 'aberta' %}text-warning{% elif comanda.status== 'fechado'  %} text-danger {% elif comanda.status== 'realizado'  %}text-success{% endif %} m-0  w-100 d-flex justify-content-center align-items-center">
                                <div class="me-2" style=" font-size: .8rem;"> {{ comanda.status }}</div>
                                <div>


                                    <i style=" font-size: 1rem;"
                                       class="{% if comanda.status== 'aberta' %}bi bi-people-fill{% elif comanda.status== 'fechado'  %}bi bi-x-circle{% endif %}"></i>


                                </div>
                            </div>

                        </td>
                        <td class="pt-0 pb-0 ps-3 pe-3">

                            {% set total = namespace(value=0) %}
                            <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#modal{{comanda._id}}" id="modalButton{{comanda._id}}">
                                Pedidos
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="modal{{comanda._id}}" data-bs-backdrop="static"
                                 data-bs-keyboard="false"
                                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Pedidos
                                                Realizados</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <ol class="list-group list-group-numbered">
                                                {% for pedido in pedidos if pedido._idComanda| string() == comanda._id|
                                                string()
                                                %}
                                                {% set produto = getCardapio(pedido._idCardapio) %}


                                                <li class="list-group-item d-flex justify-content-center align-items-center">
                                                    <div class="ms-3 d-flex flex-column justify-content-start align-items-start w-100">
                                                        <div class="fw-bold"> {{ produto.nome_produto }}</div>
                                                        <div class="text-body-secondary">{{pedido.status}}</div>
                                                    </div>
                                                    <span class="badge bg-secondary rounded-pill"> {{pedido.quantidade}}</span>
                                                </li>


                                                {% set total.value = total.value|float +
                                                (getCardapio(pedido._idCardapio).valor|float * pedido.quantidade|int) %}


                                                {% endfor %}
                                            </ol>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <!--                                            <button type="button" class="btn btn-primary">Understood</button>-->
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </td>
                        <td data-modalButton="#modalButton{{comanda._id}}" class="valor pt-0 pb-0 ps-3 pe-3">
                            <small class="text-body-secondary">{{total.value}}
                            </small>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>


    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>

<script>


$(".date").each(function(i,e){
var novaDate= dataFormatter($(e).html())
$(e).html(novaDate)
})





 function dataFormatter(date) {

  try {
    // Verifica se o valor passado é uma data válida
    if (isNaN(Date.parse(date))) {
      return '-';
    }

    // Converte a string em um objeto de data
    var data = new Date(date);

    // Formata a data
    var options = { day: 'numeric', month: 'long', year: 'numeric', hour: 'numeric', minute: 'numeric' };
    var dataFormatada = data.toLocaleString('pt-BR', options);

    return dataFormatada;
  } catch (e) {
    console.log(e);
    return '-';
  }
}

    $(".valor").each(function(i, val) {
    console.log( $(val).attr('data-modalButton')  )
    if(parseFloat(    $(val).text())>0 ){
    $($(val).attr('data-modalButton')).prop('disabled',false)
    }

    if(parseFloat(    $(val).text()) === 0 ){
    $($(val).attr('data-modalButton')).prop('disabled',true)
    }

})
$(".valor").text(function(i, val) {
return parseFloat(val).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }).replace(".", ",");
});













</script>
{% endblock %}